{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title"><br>View Programs</h4>
                    <p class="card-text" id="paragraph"><br>Show all programs running under
                      the auspices of the H.F.R.I.</p>
                    <a class="btn btn-primary" id="show-btn" href="/programs">Show</a>
                    <p><br></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title"><br>View Projects</h4>
                    <p class="card-text" id="paragraph"><br>Search projects by multiple criteria<br><br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects">Show</a>
                    <p><br></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title"><br>Create Entities</h4>
                    <p class="card-text" id="paragraph"><br>Create new programs/projects etc.<br><br></p>
                    <a class="btn btn-primary" id="show-btn" href="/create">Create</a>
                    <p><br></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title"><br>View<br>Research Fields</h4>
                    <p class="card-text" id="paragraph"><br>View all research fields
                      along with associated projects and researchers<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/fields">Show</a>
                    <p><br></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title"><br>View<br>Institutions</h4>
                    <p class="card-text" id="paragraph"><br>View all institutions as well as
                      other filtering options<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/institutions">Show</a>
                    <p><br></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title"><br>View<br>Researchers</h4>
                    <p class="card-text" id="paragraph"><br>View all researchers as well as
                      other filtering options<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers">Show</a>
                    <p><br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-2">
      <div class="col-md-12">
          <div class="card" id="card-container">
              <div class="card-body" id="card">
                  <h4 class="card-title">Top-3 Research Fields</h4>
                  <p class="card-text" id="paragraph">Most popular pairs of research fields
                    among all projects (active and non-active):<br></p>
                  {% if topFields|length == 0 %}
                      <h1 style="margin-top: 5rem;">No Top Fields found!</h1>
                  {% else %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>No</th>
                                      <th>Field Name</th>
                                      <th>Field Name</th>
                                      <th>Projects</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in range(topFields|length) %}
                                      <tr>
                                          <td> {{ i+1 }} </td>
                                          <td> {{ topFields[i].get("field1") }} </td>
                                          <td> {{ topFields[i].get("field2") }} </td>
                                          <td> {{ topFields[i].get("popularity") }} </td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
    <div class="row" id="row-2">
      <div class="col-md-12">
          <div class="card" id="card-container">
              <div class="card-body" id="card">
                  <h4 class="card-title">Top-5 Funds/Executive</h4>
                  <p class="card-text" id="paragraph">Top-5 fund amounts given to a single company
                    by a single HFRI's executive.<br></p>
                  {% if topExec|length == 0 %}
                      <h1 style="margin-top: 5rem;">No Top Executives found!</h1>
                  {% else %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>No</th>
                                      <th>Executive's Name</th>
                                      <th>Funded Company</th>
                                      <th>Total Fund Amount</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in range(topExec|length) %}
                                      <tr>
                                          <td> {{ i+1 }} </td>
                                          <td> {{ topExec[i].get("executive_name") }} </td>
                                          <td> {{ topExec[i].get("company_name") }} </td>
                                          <td> {{ topExec[i].get("total_fund") }} </td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
    <div class="row" id="row-2">
      <div class="col-md-12">
          <div class="card" id="card-container">
              <div class="card-body" id="card">
                  <h4 class="card-title">Top-10 Young Researchers</h4>
                  <p class="card-text" id="paragraph">Top-10 researchers (under 40 years old) working
                    on the most projects (active).<br></p>
                  {% if topExec|length == 0 %}
                      <h1 style="margin-top: 5rem;">No Top Researchers found!</h1>
                  {% else %}
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>No</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Age</th>
                                      <th>Projects</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in range(topRes|length) %}
                                      <tr>
                                          <td> {{ i+1 }} </td>
                                          <td> {{ topRes[i].get("first_name") }} </td>
                                          <td> {{ topRes[i].get("last_name") }} </td>
                                          <td> {{ topRes[i].get("age") }} </td>
                                          <td> {{ topRes[i].get("total_projects") }} </td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}
