{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row-2">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="card" id="card-container">
               <div class="card-body" id="card">
                    <p class="card-text" id="paragraph"><br><br>Show me in how many projects<br>each researcher has participated.</p>
                    <a class="btn btn-primary" id="show-btn" href="{{ url_for('getResearchers', listOfObjects='pressed_1') }}">Show</a>
               </div>
           </div>
        </div>
    </div>
    <div class="row" id="row-2">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="card" id="card-container">
               <div class="card-body" id="card">
                    <p class="card-text" id="paragraph"><br><br>Show me the researchers working on 5 or more projects,
                    which don't have any deliverables.</p>
                    <a class="btn btn-primary" id="show-btn" href="{{ url_for('getResearchers', listOfObjects='pressed_2') }}">Show</a>
               </div>
           </div>
        </div>
    </div>
    <div class="row" id="row-2">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if researchers|length == 0 %}
                    <!-- |length is a jinja2 filter that returns the amount of items in a sequence -->
                    <h1 style="margin-top: 5rem;">No Researchers found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    {% if "sex" in researchers[0] %}
                                        <th>Sex</th>
                                    {% endif %}
                                    {% if "date_of_birth" in researchers[0] %}
                                        <th>Date of Birth</th>
                                    {% endif %}
                                    {% if "num_of_projects" in researchers[0] %}
                                        <th>Number Of Projects</th>
                                    {% endif %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in researchers %}
                                    <tr>
                                        <td> {{ researcher.res_id }} </td>
                                        <td> {{ researcher.first_name }} </td>
                                        <td> {{ researcher.last_name }} </td>
                                        {% if "sex" in researchers[0] %}
                                            <td> {{ researcher.sex }} </td>
                                        {% endif %}
                                        {% if "date_of_birth" in researchers[0] %}
                                            <td> {{ researcher.date_of_birth }} </td>
                                        {% endif %}
                                        {% if "num_of_projects" in researchers[0] %}
                                            <td> {{ researcher.num_of_projects }} </td>
                                        {% endif %}
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data-id = "{{ researcher.proj_id }}" onclick = "setModalFieldsDel(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete grade</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setModalFieldsDel(row) {
        document.getElementById("modal-form").action = "/grades/delete/" + row.getAttribute("data-id");
        document.getElementById("modal-form").method = "POST";
    }

</script>
{% endblock content %}
